<!-- index.html-->

{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div style="background-color:lightblue" class="jumbotron">
  <form method="POST" action="/">
    <div align="center"class="row">
      Name:</br>
      <input type="text" name="name">
    </div></br>
    <div align="center" class="row">
      Number:</br>
      <input type="text" name="phone">
    </div></br>
    <div align="center" class="row">
      City:</br>
      <input type="text" name="city">
    </div></br>
    <div align="center" class="row">
      State:</br>
      <input type="text" name="state">
    </div></br>
    <div align="center" class="row">
      <input type="submit" value="Add" name="submit"></br></br>
      <b> Enter your name, phone number, city, and state to add to the database </b>
    </div>
  </form>
</br>
</br>
<center><h3>(<a href = "{{ url_for('show_people') }}">People List
</a>)</h3></center>
{% endblock %}
